@import url(style.css);

body {
    display: grid;
    grid-template-rows: repeat(5, 500px) 100px;
    grid-template-areas:
    "Header-content" 
    "Section-1" 
    "Section-2"  
    "Section-3" 
    "Section-4" 
    "footer";
}

.Header-content{
    grid-area: Header-content;
}

.Header-content h1 {
   font-family: "Luckiest Guy";
   text-align: left;
   font-size: 32px;
   margin-top: -28rem;
   margin-left: 3rem;
   color: white;
   font-weight: bold;
}

.Header-content img {
    width: 26.7rem;
    height: 32.5rem;
    margin-left: -1rem;
    margin-top: -1rem;
}

.Header-content p {
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-rendering: auto;
    margin-left: 3rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    
.button-white, .button-black {
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 16px;
}

.button-black {
    background-color: #23272A;
    color: white;
}

.button-white {
    background-color: white;
    color: #23272A;
}

.Section1 {
    background-color: white;
    grid-area: Section-1;
}

.Section1 , .Section2 , .Section3 , .Section4 img {
    margin-top: 1rem;
    margin-left: 1rem;
}

.Section1 h1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: bolder;
    color: #23272A;
}

.Section1 p {
    color: #23272A;
    font-size: 16px;
    text-align: left;
    margin-left: 3rem;
}

.Section2 {
    background-color: #f6f6f6;
    grid-area: Section-2;
}

.Section2 h1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: bolder;
    color: #23272A;
}   

.Section2 p {
    color: #23272A;
    font-size: 16px;
    text-align: left;
    margin-left: 3rem;
    margin-top: 2rem;
}


    