@import url(style.css);

body {
    display: grid;
    grid-template-rows: repeat(5, 480px) 100px;
    grid-template-areas:
    "Header-content" 
    "Section-1" 
    "Section-2"  
    "Section-3" 
    "Section-4" 
    "footer";
}

.Header-content {
    grid-area: Header-content;
}

.titulo {
   color: white;
   margin-left: 3rem;
   
}

.subtitulo {
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-rendering: auto;
    margin-left: 3rem;
}

.Header-content {
   background-image: url(./assets/img/Header\ Background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}



.button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
    
.button-white, .button-black {
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    text-align: center;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 16px;
    cursor: pointer;
}

.button-black {
    background-color: #23272A;
    color: white;
}

.button-white {
    background-color: white;
    color: #23272A;
}

.Section1 {
    background-color: white;
    grid-area: Section-1;
}

.Section1 , .Section2 , .Section3 , img {
    margin-top: 1rem;
    margin-left: 1rem;
}

.Section1 h1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: bolder;
    color: #23272A;
}

.Section1 p {
    color: #23272A;
    font-size: 16px;
    text-align: left;
    margin-left: 3rem;
}

.Section2 {
    background-color: #f6f6f6;
    grid-area: Section-2;
}

.Section2 h1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: bolder;
    color: #23272A;
}   

.Section2 p {
    color: #23272A;
    font-size: 16px;
    text-align: left;
    margin-left: 3rem;
    margin-top: 2rem;
}

.Section3 {
    background-color: white;
    grid-area: Section-3;
}

.Section3 h1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: bolder;
    color: #23272A;
}

.Section3 p {
    color: #23272A;
    font-size: 16px;
    text-align: left;
    margin-left: 3rem;
    margin-top: 2rem;
}

.Section4 {
    background-color: #f6f6f6;
    grid-area: Section-4;
}

.Section4 img {
    position: absolute;
    margin-top: 1rem;
}

.Section4 h1 {
    padding: 1rem;
    margin-left: 1rem;
    text-align: left;
    color: #23272A;
}

.Section4 p {
   color: #23272A;
   text-align: left;
   margin-left: 2rem ;
}


footer img {
    margin-left: 5rem;
    margin-top: 2rem;
}

footer h1 {
    color: white;
    margin-left: 9rem;
    margin-top: -3rem;
}

footer {
    width: 30rem;
    grid-area: footer ;
    background-color: #23272A;
}

@media screen and (min-width:500px) and (max-width: 5580px) {
    body {
        grid-template-rows: repeat(5, 500px) 100px;
        grid-template-areas:
        "Header-content" 
        "Section-1" 
        "Section-2"  
        "Section-3" 
        "Section-4" 
        "footer";
    }
    
    .Header-content {
        background-image: url(./assets/img/Header\ Background\ \(1\).png);
        background-repeat: no-repeat;
        margin-top:  -3rem;
        margin-left: -3rem;
        margin-right: -0.5rem;
    }

    .titulo  {
        font-size: 36px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 8rem;
        
    }
    .subtitulo {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
    }
    .Section1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
    }
    .Section1 h1 {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        padding: 3rem;

    }

    .Section1 img {
        height: 25rem;
        padding-left:3rem ;
        margin-left: 2rem;
    }

    .Section1 p {
        position: absolute;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        margin-right: -34rem;
        margin-top: 17rem;

    }

    .Section2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 0.5rem;
    }
    .Section2 h1 {
        font-size: 40px;

    }

    .Section2 img {
        width: 35rem;
        padding-left:40rem ;
        margin-top: -7rem;
    }

    .Section2 p {
        position: absolute;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        margin-right: -39rem;
        margin-top: -5rem;
    }

    .Section3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
    }
    .Section3 h1 {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        padding: 3rem;

    }

    .Section3 img {
        height: 25rem;
        padding-left:3rem ;
        margin-left: 2rem;
    }

    .Section3 p {
        position: absolute;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        margin-right: -34rem;
        margin-top: 17rem;

    }

    .Section4 {
        grid-area: Section-4;
    }
    
    .Section4 img {
        position: absolute;
        margin-top: -2rem;
        margin-left: 31rem;
        width: 25rem;
    }
    
    .Section4 h1 {
        padding: 1rem;
        margin-left: 1rem;
        text-align: center;
        
    }
    
    .Section4 p {
       text-align: center;
       margin-left: 2rem ;
    }
}

